apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sqlite-pvc-5gi
  namespace: rosistat
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
  resources:
    requests:
      storage: 5Gi